<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.esiea.tim.sharies">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:icon="@mipmap/ic_cerise"


        android:supportsRtl="true"
        android:theme="@style/AppTheme">

    <activity android:name=".MainActivity">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
    </activity>

        <activity
            android:name=".FilmActivity"
            android:parentActivityName=".MainActivity"
            />


    <service
        android:name=".GetSeriesServices"
        android:exported="false"></service>

        <activity android:name=".ParametersActivity"
            android:parentActivityName=".MainActivity">
            
        </activity>
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>


</manifest>
